
body {
	background-color: #f2f1ef;
}

a {
	text-decoration: none;
}

li {
	border: 1px solid black;
}

li:hover {
	background-color: #bfae99;
}

ul {
	list-style-type: none;
	background-color: #ede5da;
	width: 200px;
	margin: 0px;
	padding: 0px;
	margin-top: 100px;
	margin-left: 40px;	
}

ul a li {
	text-align: center;
	font-size: 18px;
}



.aktiivne {
	background-color: #bfae99;
}


.m {
	display: inline-block;
	height: 50px;
	width: 130px;
	border-right: 1px solid black;
}



.m2 {
	display: inline-block;
	height: 50px;
	width: 130px;
}

.menu {
	display: inline-block;
	color: #000;
	overflow: hidden;
	margin-top: 10px;
}

#menüüpaneel li a span {
	display: inline-block;
	color: #000;
	overflow: hidden;
	margin-top: 10px;
}

.ostanupp {
	display: block;
	width: 100px;
	height: 25px;
	background-color: #b3b3b3;
	margin-left: 10px;
	text-align: center;	
}

.osturiba {
	width: 700px;
	border-right: 1px solid black;
    border-collapse: collapse;
	text-align: center;
	padding: 20px;
}

.osturiba2 {
	width: 100px;
	border-right: 1px solid black;
    border-collapse: collapse;
	text-align: center;
}




.toode {
	width: 100px;
	height: 100px;
	background-color: #b3b3b3;
	display: inline-block;
	margin: 10px;
	margin-bottom: 0px;
}


.toode:hover {
	background-color: #8c8c8c;
}







#avalehele {
	height: 30px;
	width: 500px;
	background-color: #d7e1e5;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

#avalehele a:hover{
	font-weight: bold;
	color: #1f4db7;
}

#email {
	display: block;
	width: 200px;
	margin-left: 49px;
	margin-top: 50px;
}

#kategoorianimed {
	display: block; 
	margin:auto; 
	font-size: 36px; 
	margin-top:20px; 
	width: 120px;
}

#kuidasostapaneel {
	display: block;
	width: 900px;
	height: 600px;
	margin: auto;
	margin-top: 30px;
	background-color: #d7e1e5;
}

#logipaneel {
	width: 300px;
	height: 300px;
	background-color: #d7e1e5;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#logisisse {
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
}

#meistpaneel {
	display: block;
	width: 900px;
	height: 600px;
	margin: auto;
	margin-top: 30px;
	background-color: #d7e1e5;
}

#meistpaneel p,#kuidasostapaneel p, #tarnepaneel p {
	text-align: center;
	font-size: 80px;
	vertical-align: center;
	padding-top: 100px;
	color: #a6a6a6
}


#menüüpaneel {
	display: block;
	width: 863px;
	margin: auto;
	height: 51px;
	margin-top: 50px;
	float: center;
}

#nõustumine {
	display: block;
	width: 300px;
	margin: auto;
	margin-top: 20px;
	float: center;
}

#ostukorv {
	width: 120px;
	height: 30px;
	background-color: #ede5da;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	text-align: center;
	border: 1px solid black;
}

#ostukorv:hover {
	background-color: #bfae99;
}

#ostutabel {
	border-collapse: collapse;
	background-color: #d7e1e5;
	border: 1px solid black;
	margin: auto;
	margin-top: 20px;
}

#ostutabel th {
	border: 1px solid black;
}

#parool {
	display: block;
	width: 200px;
	margin-left: 49px;
	margin-top: 20px;	
}

#polekasutaja {
	height: 30px;
	width: 500px;
	background-color: #d7e1e5;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

#polekasutaja a:hover {
	font-weight: bold;
	color: #1f4db7;
}

#regnupp {
	display: inline-block;
	height: 50px;
	width: 180px;
	border-right: 1px solid black;
}

#reklaamtekst {
	position: relative;
	display: block;
	text-align: center;
	padding-top: 40px;
	font-size: 30px;
}

#reklaam {
	height: 120px;
	width: 1200px;
	background-color: #c6ccd2; 
	margin: auto;
	margin-top: 20px;
}

#registreerimine {
	background-color: #d7e1e5;
	padding: 10px;
	height: 200px;
	margin: auto;
	margin-top: 60px;
	float: center;
}

#registreerimine td {
	padding-top: 20px;
}

#registreerimisnupp {
	display: block;
	margin:auto;
	margin-top: 20px;
}

#saada {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

#saada:hover{
	background-color: #d1d3d7;
}

#tarnepaneel {
	display: block;
	width: 900px;
	height: 600px;
	margin: auto;
	margin-top: 30px;
	background-color: #d7e1e5;
}

#tootepaneel {
	width: 610px;
	height: 700px;
	background-color: #d7dfe2;
	margin-left: 450px;
	margin-top: 10px;	
}

#tootepaneel div {
	display: inline-block;
	width: 100px;
	margin: 7px;
}

#unustasinparooli {
	margin: inline-block;
	margin-top: 50px;
	margin-left: 150px;
}

#unustasinparooli:hover {
	color: #1f4db7;
}

#valikupaneel {
	float: left;
	margin-left: 43px;
	margin-top: 30px
}

#valikupaneel li {
	display: block;
    color: #000;
	padding-bottom: 8px;
    padding-top: 8px;
	margin: auto;
	width: 200px;
	text-align: center;
}

 

